.footer {
    background-color: $color-secundario;
    text-align: center;
    padding: 20px 0;
    font-size: 1rem;


    &_box {
        padding: 0 30px 0 30px;
        display: grid;
        grid-template-columns: 90vw;
        justify-content: space-evenly;
        align-items: baseline;
        text-align: center;

        &_items {
            margin-bottom: 20px;

            &_center {
                border-top: 1px solid $color-primario;
                border-bottom: 1px solid $color-primario;
            }

            &_center h3 {
                margin-top: 20px;
            }
        }
    }
}

.redessociales {
    width: 20px;
    margin-right: 5px;
}

@media (min-width: 1200px) {
    .footer {
        & h3 {
            font-size: 1.5rem;
            padding-bottom: 5px;
        }

        & a {
            font-size: 1rem;
        }

        & p {
            font-size: 1rem;
        }

        &_box {
            display: flex;

            &_items {
                padding: 0 80px 0 80px;
                border-top: none;
                border-bottom: none;

                &_center {
                    border-left: 1px solid $color-primario;
                    border-right: 1px solid $color-primario;
                }
            }

        }
    }
}