header {
    background-color: $color-cuaternario;
}

.logo {
    display: flex;
    justify-content: center;

    &_image {
        width: 150px;
        height: 150px;
    }
}

@media (min-width:1200px) {
    .logo_image {
        width: 300px;
        height: 300px;
    }
}

.bg-body-tertiary {
    background-color: $color-secundario !important;

}

.navbar-nav {
    --bs-nav-link-color: none;
}

.active {
    display: inline-block;
    color: aliceblue !important;
    border-bottom: 3px solid $color-cuaternario;
}

.nav-link:focus,
.nav-link:hover {
    color: white;
}

@media (min-width:992px) {
    .navbar-expand-lg .navbar-nav {
        gap: 140px;
    }

    .navbar-expand-lg .navbar-collapse {
        justify-content: space-evenly;
        font-size: 1.3rem;
    }
}